<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{this.title}}
        </h2>
        {{#if this.tags}}
        <p class="post-meta">
            {{#each this.tags}}
                <a class="post-category" href="?tag='{{this}}'">{{this}}</a>
            {{/each}}
        {{/if}}
    </p>
    </header>
    <div class="post-description">
        {{{preview this.content}}}{{#if this.content}}...{{/if}}
        <p><a href="/post/{{this.id}}">read more</a></p>
    </div>
</section>