{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.tagsinput.min.css"/>
{{/section}}
{{#unless user.admin}}
    <div class="alert alert-error">
        <p>You don't have the rights to edit/add posts. But you do have the rights to explore this CMS for my blog and
            mess with it. So have fun, check it out on <a href="https://github.com/quisse/personal">Github</a> and give
            feedback/pull request if necessary. Thanks!</p>
    </div>
{{/unless}}
<div id="toolbar">
<a href="#modal-one" class="button" onclick="resetForm()"><i class="fa fa-file"></i>Add new post</a>
    </div>
{{#each posts}}
    <article>
        <h2><!--<a href="/admin/post/{{this.id}}">-->{{this.title}}<!--</a>--></h2> <!-- TODO: show when visible and or pinned-->
        <p>Created: {{dateFormat this.created_at "MMMM Do YYYY"}}
            Updated: {{dateFormat this.updated_at "MMMM Do YYYY"}}</p>
        <div class="pure-g">
            <a href="/admin/post/{{this.id}}" class="pure-u-1-3"><i class="fa fa-pencil"></i>Edit content</a>
            <a href="#modal-one" class="pure-u-1-3" onclick="edit({{json this}})"><i class="fa fa-pencil"></i>Edit properties</a>
            <a href="#modal-one" class="pure-u-1-3" onclick="deletePost('{{this.id}}')"><i class="fa fa-trash"></i>Delete</a>
        </div>
        {{#if this.tags}}
            <div class="post-tags">
                {{#each this.tags}}
                    <a class="post-category" href="?tag='{{this}}'">{{this}}</a>
                {{/each}}
            </div>
        {{/if}}
        <!--<input class="tags" value="{{#each this.tags}}{{this}},{{/each}}" />-->
    </article>
{{/each}}

<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Modal in CSS?</h2>
            <a href="#close" class="btn-close" aria-hidden="true" onclick="resetForm()">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">
            <form action="/admin" method="post" id="id_form">
                {{{ post_form}}}
                <button type="submit" href="#close" id="btn_submit">Save</button>
            </form>
        </div>
        <!--<div class="modal-footer">-->
        <!--<a href="#close" class="btn">Nice!</a>  &lt;!&ndash;CHANGED TO "#close"&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>
</div>
<!-- /Modal -->


{{#section 'foot'}}
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.tagsinput.js"></script>
    <script type="text/javascript">
        $('#id_tags').tagsInput();
        $('.tags').tagsInput();
        function deletePost(id) {
            function onStateChange(ev) {
                // Check if the request is finished
                if (ev.target.readyState == 4) {
                    if (ev.target.status == '200') {
                        // Save was successful, notify the user with a flash
                        console.log('ok');
                        location.reload();
                    } else {
                        // Save failed, notify the user with a flash
                        console.log('no');
                    }
                }
            };
            xhr = new XMLHttpRequest();
            xhr.addEventListener('readystatechange', onStateChange);
            xhr.open('delete', '/admin/post/' + id);
            xhr.send();
        }

        function edit(post) {
            console.log(post);
            $('#id_title').val(post.title);
            $('#id_tags').importTags(post.tags.join());
            $('#id_pinned').prop('checked', post.pinned);
            $('#id_visible').prop('checked', post.visible);
            $('#id_form').attr('action', '/admin/post/' + post._id);
        }

        function resetForm() {
            $('#id_title').val('');
            $('#id_tags').importTags('');
            $('#id_pinned').prop('checked', false);
            $('#id_visible').prop('checked', false);
            $('#id_form').attr('action', '/admin/');
            $('#btn_submit').attr('onclick', '');
        }
        resetForm();
    </script>
{{/section}}