<form method="post">
    {{{add_form}}}
    <button type="submit">submit</button>
</form>
<ul>
    {{#each posts}}
        <li><a href="/admin/post/{{this.id}}">{{this.title}}</a> created at: {{this.created_at}} updated at: {{this.updated_at}}</li>
    {{/each}}
</ul>