{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.tagsinput.min.css"/>
{{/section}}
{{#unless user.admin}}
    <div class="alert alert-error">
        <p>You don't have the rights to edit/add posts. But you do have the rights to explore this CMS for my blog and
            mess with it. So have fun, check it out on <a href="https://github.com/quisse/personal">Github</a> and give
            feedback/pull request if necessary. Thanks!</p>
    </div>
{{/unless}}
<a href="#modal-one" class="btn btn-big">Add new post</a>
<ul>
    {{#each posts}}
        <li><a href="/admin/post/{{this.id}}">{{this.title}}</a> created: {{dateFormat this.created_at "MMMM Do YYYY"}}
            updated: {{dateFormat this.updated_at "MMMM Do YYYY"}}
            <a href="#modal-one" class="btn btn-big" onclick="edit({{json this}})">Edit properties</a>
            <a href="#modal-one" class="btn btn-big" onclick="deletePost('{{this.id}}')">Delete</a>
            <div>
                {{#each this.tags}}
                    <a class="post-category">{{this}}</a>
                {{/each}}
            </div>
            <!--<input class="tags" value="{{#each this.tags}}{{this}},{{/each}}" />-->
        </li>
    {{/each}}
</ul>

<!-- Modal -->
<div class="modal" id="modal-one" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2>Modal in CSS?</h2>
            <a href="#close" class="btn-close" aria-hidden="true" onclick="resetForm()">×</a> <!--CHANGED TO "#close"-->
        </div>
        <div class="modal-body">
            <form action="/admin" method="post" id="id_form">
                {{{ post_form}}}
                <button type="submit" href="#close" onclick="resetForm()">add</button>
            </form>
        </div>
        <!--<div class="modal-footer">-->
        <!--<a href="#close" class="btn">Nice!</a>  &lt;!&ndash;CHANGED TO "#close"&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>
</div>
<!-- /Modal -->


{{#section 'foot'}}
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.tagsinput.js"></script>
    <script type="text/javascript">
        $('#id_tags').tagsInput();
        $('.tags').tagsInput();
        function deletePost(id) {
            function onStateChange(ev) {
                // Check if the request is finished
                if (ev.target.readyState == 4) {
                    if (ev.target.status == '200') {
                        // Save was successful, notify the user with a flash
                        console.log('ok');
                        location.reload();
                    } else {
                        // Save failed, notify the user with a flash
                        console.log('no');
                    }
                }
            };
            xhr = new XMLHttpRequest();
            xhr.addEventListener('readystatechange', onStateChange);
            xhr.open('delete', '/admin/post/' + id);
            xhr.send();
        }

        function edit(post) {
            $('#id_title').val(post.title);
            $('#id_tags').importTags(post.tags.join());
            $('#id_pinned').prop('checked', post.pinned);
            $('#id_visible').prop('checked', post.visible);
            $('#id_form').attr('action', '/admin/post/' + post._id);
        }

        function resetForm() {
            $('#id_title').val('');
            $('#id_tags').importTags('');
            $('#id_pinned').prop('checked', false);
            $('#id_visible').prop('checked', false);
            $('#id_form').attr('action', '/admin/post/');
        }
    </script>
{{/section}}