{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.tagsinput.min.css" />
{{/section}}
<form method="post" class="pure-form">
    <fieldset>
        {{{add_form}}}
        <button type="submit">submit</button>
    </fieldset>
</form>
<ul>
    {{#each posts}}
        <li><a href="/admin/post/{{this.id}}">{{this.title}}</a> created
            at: {{dateFormat this.created_at "MMMM Do YYYY"}} updated
            at: {{dateFormat this.updated_at "MMMM Do YYYY"}}
            <button onclick="deletePost('{{this.id}}')">delete</button>
            {{#each this.tags}}
                <a class="post-category">{{this}}</a>
            {{/each}}
            <!--<input class="tags" value="{{#each this.tags}}{{this}},{{/each}}" />-->
        </li>
    {{/each}}
</ul>
{{#section 'foot'}}
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.tagsinput.js"></script>
    <script type="text/javascript">
        $('#id_tags').tagsInput();
        $('.tags').tagsInput();
        function deletePost(id){
            function onStateChange(ev) {
                // Check if the request is finished
                if (ev.target.readyState == 4) {
                    if (ev.target.status == '200') {
                        // Save was successful, notify the user with a flash
                        console.log('ok');
                        location.reload();
                    } else {
                        // Save failed, notify the user with a flash
                        console.log('no');
                    }
                }
            };
            xhr = new XMLHttpRequest();
            xhr.addEventListener('readystatechange', onStateChange);
            xhr.open('delete', '/admin/post/'+id);
            xhr.send();
        }
    </script>
{{/section}}